h1, p {
  font-family: Lato;
}
.player-container{
  height: 400px;
  width: 600px;
  background-color: #eaeaea;
  border:3px solid #ccc;
  margin: 0 auto;
}
.player-container #player{
  width:100%;
  height: 100%;
}